body{
    margin: 0;
    background: linear-gradient(to bottom, #164A41, #4D774E);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.body-container{
    background-color: #2d3d2e;
    border: 2px solid #ffffff;
    padding: 40px 0;
    height: 400px;
    width: 40%;
    margin: 10px auto;
    margin-top: 90px;
    border-radius: 12px;
}

.display-name{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Verdana, sans-serif;
    margin-left: 5%;
    padding-top: 20px;
    font-size: 23px;
}

@media (max-width: 768px) {
    .body-container{
        width: 85%;
        height: auto;
    }
    .display-name{
        font-size: 100%;
        margin-top: 0; 
    }
}