body{
    margin: 0;
    background-image: url('../PICTURES/new\ announcement\ image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.body-container{
    background-color: #fff7d7;
    border: 2px black solid;
    padding: 40px 0;
    height: 400px;
    width: 40%;
    margin: 10px auto;
    margin-top: 90px;
    border-radius: 12px;
}

.display-name{
    color: black;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    margin-left: 5%;
    padding-top: 20px;
    font-size: 23px;
}

@media (max-width: 768px) {
    .body-container{
        width: 85%;
        height: auto;
    }
    .display-name{
        font-size: 100%;
        margin-top: 0; 
    }
}