body {
    margin: 0;
    background: linear-gradient(to bottom, #164A41, #4D774E);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;     
    font-family: Verdana, sans-serif;
}

.heading {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 10px;
}

.announcements-container {
    margin: 20px;
}

.announcement {
    border: 2px solid #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #7DA87E;
    border-radius: 5px;
}

h2 {
    margin: 0;
}

small {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.announcement p {
    white-space: pre-wrap; /* This will maintain spacing and line breaks */
}

@media (max-width: 768px) {
    .heading {
        font-size: 100%; 
    }
}
