body {
    margin: 0;
    background: linear-gradient(to bottom, #164A41, #4D774E);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;     
    font-family: Verdana, sans-serif;
}

.heading {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 10px;
}

.announcements-container {
    margin: 20px;
    max-height: 100%; /* Set a maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */
    height: 580px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.announcement {
    border: 2px solid #272626;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d3d2e;
    border-radius: 5px;
}

h2 {
    margin: 0;
}

small {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.announcement p {
    white-space: pre-wrap; /* This will maintain spacing and line breaks */
}

@media (max-width: 768px) {
    .heading {
        font-size: 100%; 
    }
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 3px black solid;
}

@media (max-width: 667px) {
    .centered-image {
        width: 280px;
        height: 200px;
    }

    .announcements-container {
        height: 150px;
    }
    
}

@media (max-width: 344px) {
    .centered-image {
        width: 220px;
        height: 150px;
    }
    
    .announcements-container {
        height: 150px;
    }
}

@media (max-width: 896px) {
    .announcements-container {
        height: 150px;
    }
}

@media (max-width: 740px) {
    .centered-image {
        width: 220px;
        height: 150px;
    }
    
    .announcements-container {
        height: 100px;
    }
}

@media (max-width: 1368px) {
    .announcements-container {
        height: 720px;
    }
}