body {
    margin: 0;
    background: linear-gradient(to bottom, #164A41, #4D774E);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;     
    font-family: Verdana, sans-serif;
}

.heading {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 10px;
}

.body-container {
    margin: 20px auto;
    width: 84%;
    height: 550px;
    padding: 20px;
    border-radius: 13px;
    background-color: #7DA87E;
}

.second {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0;
}

.third {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.box-text2 {
    outline: none;
    font-size: 20px;
    width: 15%; 
    height: 35px;
    background-color: #164A41;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.box-text3 {
    padding: 5px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    width: 98%; 
    height: 400px;
    background-color: #164A41;
    border-radius: 10px;
    color: rgb(219, 244, 218);
}

.btn-container {
    position: relative;
    text-align: center;
    margin: 20px auto;
}

.btn-click {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #164A41;
    color: rgb(219, 244, 218);
}

.btn-click:hover {
    background-color: rgb(167, 170, 166);
    color: rgb(31, 32, 31);
}

@media (max-width: 768px) {
    .heading{
        font-size: 100%; 
    }

    .body-container {
        width: 85%; 
        height: auto;
    }

    .second {
        font-size: 1.2em; 
        text-align: left; 
    }

    .third {
        font-size: 1.2em; 
        text-align: left; 
    }

    .box-text2 {
        width: 30%;
        font-size: 100%; 
    }

    .box-text3 {
        width: 97%; 
        font-size: 100%; 
    }

    .btn-container {
        margin: 20px 0;
        margin-left: 120px;
    }

    .btn-click {
        width: 100%; 
        max-width: 40%; 
        height: 30px; 
        font-size: 100%; 
    }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #ebebeb;
    margin: 15% auto;
    font-family: verdana;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 20%;
    text-align: center;
}

#confirm-button, #cancel-button{
    border: 2px solid rgb(35, 34, 34);
    padding: 7px;
    margin: 10px;
    background-color: #a0a0a0;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: verdana;
    cursor: pointer;
}

#confirm-button:hover, #cancel-button:hover, #close-button:hover {
    background-color: rgb(190, 195, 198);
}