body {
    margin: 0;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;     
    font-family: Arial, sans-serif;
}

header {
    background-color: #7DA87E;
    color: white;
    padding: 10px;
    text-align: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}

.square-container {
    margin: 0;
    background-color: #7DA87E;
}

.head {
    text-align: center;
    margin-bottom: 30px;
    font-family: verdana, sans-serif;
    font-size: 18px;
}

.top {
    background: linear-gradient(to bottom, #164A41, #4D774E);
    height: 100vh;
    width: 300px;
    overflow-y: auto;
}

.link {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.link:hover {
    color: #7DA87E;
    cursor: pointer;
}

i {
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.btn-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    justify-content: center; 
}

.btn-item:hover{
    
    box-shadow: 0 4px 20px #7DA87Ee9; /* Increased blur radius and opacity */
}

.btn-item img {
    width: 80%; 
    height: auto; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

.main-container {
    width: 100%;
}

.announcement-pic {
    background-color: #4d774e;
    overflow: hidden;
    position: relative;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 428px;
    overflow: hidden;
}

.pics {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area */
    margin: auto;
    display: none; /* Hide all images by default */
}

.pics.active {
    display: block; /* Show the active image */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 15px;
}

.link-two {
    margin: 0;
    text-decoration: none;
    color: #434343;
    font-weight: bold;
}

.pic-btn {
    height: auto; 
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    z-index: 1;
    pointer-events: none; /* Prevent interaction */
}

body.overlay-active .overlay {
    display: block; /* Show the overlay when active */
    pointer-events: auto; /* Allow interaction */
}

.hamburger-menu:has(input:checked) ~ .main-container .prev,
.hamburger-menu:has(input:checked) ~ .main-container .next {
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        max-width: 95%; 
        height: auto; 
        font-size: 100px;
    }

    .main-container {
        width: 85%; 
        height: auto;
    }

    .btn-container {
        width: 85%; 
        flex-direction: row; 
        justify-content: space-around; 
        gap: 5px; 
    }

    .btn-item {
        width: 22%; 
        margin: 0;
        font-size: 12px;
    }

    .announcement-pic {
        height: auto; 
        font-size: 12px;
    }

    .hamburger-menu {
        top: 15px; 
        left: 15px; 
    }

    i {
        width: 20px; 
        height: 20px; 
    }
}

@media (max-width: 480px) {
    .head {
        font-size: 16%; 
    }

    .btn-item {
        width: 40%; 
    }

    .pic-btn {
        height: 50%; 
    }

    .link {
        font-size: 14px; 
    }

    .link-two {
        font-size: 100%; 
    }

    i {
        width: 18px; 
        height: 18px; 
    }
}

.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-content {
    background-color: #ebebeb;
    margin: 15% auto;
    font-family: verdana;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 20%;
    text-align: center;
}

#confirm-logout, #cancel-logout{
    border: 2px solid rgb(35, 34, 34);
    padding: 7px;
    margin: 10px;
    background-color: #a0a0a0;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: verdana;
    cursor: pointer;
}

#confirm-logout:hover, #cancel-logout:hover, #close-button:hover {
    background-color: rgb(190, 195, 198);
}

#loadingSpinner {
    display: none;
    position: fixed;
    top: 58%;
    left: 48.9%;
    transform: translate(-50%, -50%);
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {

    .alert-content {
        width: 50%;
        padding: 5px;
    }
}