html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../PICTURES/3dbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

p {
    color: rgb(255, 255, 255);
    margin-top: -30px;
    font-family: sans-serif;
    font-size: 18px;
}

.first, .second {
    display: block;
    margin-top: 25px;
    margin-bottom: -5px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 40px;
}


.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.login-form {
    text-align: center;
    background-color: #fff7d7;
    background-image: url('../PICTURES/LOGO HOA.png');
    background-blend-mode: soft-light;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center 80%;
    padding: 0;
    border-radius: 20px;
    width: 500px;
    max-width: 90%;
    height: 65vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.sign {
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    top: 30px;
}

.form-header {
    background-color: #ffa943;
    color: white;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.password-container {
    position: relative;
    display: block;
}

.toggle-password {
    position: absolute;
    right: 55px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

.btn {
    height: 35px;
    width: 80%;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    background-color: #fffbea;
    font-size: 15px;
    color: black;
    border: 2px #ffa943 solid;
    outline: none;
}

.login-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 32px;
    width: 30%;
    border-radius: 15px;
    padding: 2px 5px;
    font-size: 17px;
    background-color: #ffa943;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
}

.login-btn:hover {
    background-color: #aa722e;
}

.link1, .link2 {
    color: black;
    font-size: 16px;
}

.link2{
    position: relative;
    top: 10px;
}

.link1:hover, .link2:hover {
    color: #ffa943;
}

.fb {
    position: relative;
    top: 20px;
    color: black;
}

.fb:hover {
    color: #ffa943;
}

.logo {
    height: 30px;
    margin-top: 50px;
    position: sticky;
}

#loadingSpinner {
    display: none;
    position: fixed;
    top: 58%;
    left: 48.9%;
    transform: translate(-50%, -50%);
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .login-form {
        width: 80vw;
        height: 70vh;
    }
    
    .btn {
        width: 85%;
        font-size: 100%;
        height: 6vw;
    }

    .form-header h2, .sign {
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .login-form {
        width: 100%;
        height: 80vh;
    }
    
    .btn {
        width: 80%;
        font-size: 100%;
        height: 9vw;
    }
    
    .form-header h2, .sign {
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 20px;
    }
}

@media (max-width: 375px) {

    .btn {
        width: 72%;
        font-size: 100%;
    }

    .form-header h2, .sign {
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 45px;
    }

}

@media (max-width: 414px) {

    .btn {
        width: 72%;
        font-size: 100%;
    }

    .form-header h2, .sign {
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 50px;
    }

}

@media (max-width: 430px) {

    .btn {
        width: 72%;
        font-size: 100%;
    }

    .form-header h2, .sign {
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 55px;
    }

}

@media (max-width: 360px) {

    .btn {
        width: 72%;
        font-size: 100%;
    }

    .form-header h2, .sign {
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 50px;
    }

}

@media (max-width: 1024px) {

    .login-form {
        width: 100%;
        height: 90vh;
    }

    .btn {
        width: 72%;
        font-size: 100%;
    }

    .form-header h2, .sign {
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 140px;
    }

}

@media (max-width: 768px) {

    .login-form {
        width: 100%;
        height: 90vh;
    }

    .btn {
        width: 72%;
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 50px;
    }

}

@media (max-width: 896px) {

    .login-form {
        width: 100%;
        height: 80vh;
    }

    .btn {
        width: 72%;
        font-size: 100%;
    }

    .first, .second {
        font-size: 100%;
    }
    
    .link1, .link2 {
        font-size: 100%;
    }

    .toggle-password {
        right: 50px;
    }

}
