body{
    margin: 0;
    background: linear-gradient(to bottom, #164A41, #4D774E);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;       
}

.head-container p{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: -1px;
    margin-top: 6px;
}

p{
    margin: 50px;
    text-align: center;
    font-size: 25px;
    font-family: verdana;
    color: rgb(255, 255, 255);
}

.notif-btns{
    display: flex;/*AAYUSIN*/
}

.btn{
    font-family: verdana;
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 2px solid #B8B6B6;
    background-color: #2d3d2e;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: rgb(104, 104, 104);
}