body{
    margin: 0;
    background-image: url('../PICTURES/New Pics/Img\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;       
}

.head-container p{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: -1px;
    margin-top: 6px;
}

#head{
    font-weight: bold;
}

p{
    margin: 50px;
    text-align: center;
    font-size: 45px;
    font-family: verdana;
    color: black;
}

@media (max-width: 768px) {
    p{
        font-size: 100%;
    }
}

.notif-container {
    margin: 20px;
    max-height: 100%; /* Set a maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding: 10px;
    background-color: rgba(214, 206, 196, 0.667);
    border-radius: 5px;
}

.notification {
    border: 2px solid #272626;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff7d7;
    border-radius: 5px;
}

.notification p {
    margin: 0;
    font-size: 15px;
    font-family: verdana;
}

.notification big {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    font-family: verdana;
}

.notification small {
    font-size: 15px;
    color: black;
    font-family: verdana;
}

#reports-container {
    margin-top: 20px; /* Add space between the two containers */
}

.notification-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 3px black solid;
}

@media (max-width: 667px) {
    .notification-image{
        width: 280px;
        height: 200px;
    }

    .announcements-container {
        height: 150px;
    }
    
}

@media (max-width: 344px) {
    .notification-image {
        width: 220px;
        height: 150px;
    }
    
    .announcements-container {
        height: 150px;
    }
}

@media (max-width: 896px) {
    .announcements-container {
        height: 150px;
    }
}

@media (max-width: 740px) {
    .notification-image {
        width: 220px;
        height: 150px;
    }
    
    .announcements-container {
        height: 100px;
    }
}

@media (max-width: 1368px) {
    .announcements-container {
        height: 720px;
    }
}