body {
    margin: 0;
    background: linear-gradient(to bottom, #164A41, #4D774E);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    font-family: verdana, sans-serif;
}

.first{
    margin: 50px;
    text-align: center;
    font-size: 25px;
    font-family: verdana;
    color: rgb(255, 255, 255);
}

.body-container{
    padding: 20px 30px;
    margin: auto;
    height: 400px;
    width: 45%;
    font-family: verdana;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #7DA87E;
    border-radius: 13px;
}

.second{
    margin-top: 20px;
}

@media (max-width: 768px) {

    .first{
        font-size: 100%; 
    }

    .body-container{
        width: 70%;
        height: 300px;
        font-size: 100%; 
    }

    .second{
        font-size: 100%;
    }

}

.btn {
    font-size:15px;
    height: 35px;
    width: 220px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #164A41;
    color: rgb(255, 255, 255);
    border: 2px white solid;
    outline: none;
}

.button {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #164A41;
    color: rgb(219, 244, 218);
}

.button:hover{
    background-color: rgb(167, 170, 166);
    color: rgb(31, 32, 31);
}