body{
    margin: 0;
    background: linear-gradient(to bottom, #164A41, #4D774E);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.emailCheck{
    text-align: center;
}

#result{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.emailCheck h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#email{
    height: 35px;
    width: 220px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #164A41;
    color: rgb(255, 255, 255);
    border: 2px white solid;
    outline: none;
}

#code{
    height: 35px;
    width: 140px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #164A41;
    color: rgb(255, 255, 255);
    border: 2px white solid;
    outline: none;
}

#email::placeholder, #code::placeholder, #new::placeholder, #cnfrm::placeholder{
    color: #c7c7c7;
}

#sendcode{
    height: 35px;
    border-radius: 15px;
    margin: 10px 0;
    font-size: 11px;
    background-color: #0e2420;
    color: rgb(255, 255, 255);
    border: 2px white solid;
    outline: none;
}

#verifycode{
    height: 35px;
    width: 170px;
    border-radius: 15px;
    margin: 10px 0;
    font-size: 15px;
    background-color: #0e2420;
    color: rgb(255, 255, 255);
    border: 2px white solid;
    outline: none;
}

#check{
    height: 35px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #0e2420;
    color: rgb(255, 255, 255);
    border: 2px white solid;
    outline: none;
}

#sendcode:hover, #verifycode:hover{
    background-color: #28665a;
}

.emailCode{
    margin-top: 10px;
    text-align: center;
    display: none;
}

.container {
    margin-top: 20px;
    text-align: center;
    display: none;
}

#loadingSpinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 48.9%;
    transform: translate(-50%, -50%);
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#new, #cnfrm{
    height: 35px;
    width: 220px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #164A41;
    color: rgb(255, 255, 255);
    border: 2px white solid;
    outline: none;
}