body {
    margin: 0;
    overflow: hidden;
}

.main-container {
    display: flex;
}

.header {
    padding: 5px;
    margin: 0 100px;
    background-color: #7DA87E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana;
    color: rgb(42, 65, 40);
}

.logo-header {
    height: 60px;
    margin-left: 10px;
}

.btn-logout{
    float: right;
    position: relative;
    left: -30px;
    color: rgb(42, 65, 40);
    font-size: 16px;
    font-family: verdana;
    font-weight: 600;
    background-color: transparent;
    border: 0;
}

.btn-logout:hover{
    color: rgb(233, 225, 225);
    cursor: pointer;
}

.left-middle {
    margin-top: 0;
    margin-left: 100px;
    width: 485px;
    height: 795px;
    padding-bottom: 100%;
    background-color: rgb(234, 239, 243);
}

.link {
    position: relative;
    display: block;
    text-align: center;
    top: 70px;
    font-family: verdana;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: rgb(70, 73, 75);
    border: 1px solid #000;
}

.link:hover, .link.active {
    background-color: rgb(190, 195, 198);
}

.right-middle {
    padding: 10px;
    margin: 0 auto;
    width: calc(100% - 220px);
    margin-right: 100px;
    background-color: rgb(246, 252, 252);
    color: rgb(22, 25, 26);
    font-family: verdana;
}

.line-middle {
    padding: 1px 0;
    background-color: rgb(0, 0, 0);
}

.dash1 {
    font-size: 60px;
    font-weight: 0;
    text-align: center;
}

#dashboard{
    background-color: #7DA87E;
}
