body{
    margin: 0;
}

.main-container{
    display: flex;
}

.header{
    padding: 5px;
    margin: 0 100px 0 100px;
    background-color: #7DA87E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana;
    color: rgb(42, 65, 40);
}

.logo-header{
    height: 60px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.btn-logout{
    float: right;
    position: relative;
    left: -30px;
    color: rgb(42, 65, 40);
    font-size: 16px;
    font-family: verdana;
    font-weight: 600;
    background-color: transparent;
    border: 0;
}

.btn-logout:hover{
    color: rgb(233, 225, 225);
    cursor: pointer;
}

.left-middle {
    margin-top: 0;
    margin-left: 100px;
    width: 485px;
    height: calc(100vh - 83px); 
    background-color: rgb(234, 239, 243);
}

.link {
    position: relative;
    display: block;
    text-align: center;
    top: 70px;
    font-family: verdana;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: rgb(70, 73, 75);
    border: 1px solid #000;
    display: flex; 
    gap: 20px;
}
.link:hover{
    background-color: rgb(190, 195, 198);
}

.fa-solid fa-bullhorn{
    position: relative;
}

.right-middle{
    padding: 10px;
    margin: 0 auto;
    width: calc(100% - 220px);
    margin-right: 100px;
    position: relative;
    background-color: rgb(246, 252, 252);
    color: rgb(22, 25, 26);
    font-family: verdana;
    border-bottom: 1px;
}

.line-middle{
    padding: 1px 0 1px 0;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #7DA87E;
}
table tr {
    cursor: pointer;
}

table tr:hover {
    background-color: rgb(190, 195, 198);
}

#reports{
    background-color: #7DA87E;
}

#search-box{
    width: calc(20% - 20px);
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.table-container {
    max-height: 460px;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 5px;
}

#reports{
    background-color: #7DA87E;
}

#status-filter {
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}